<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	{{!-- Bootstrap and CSS styling --}}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css"/>
	<link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
	
	<title>Eat-Da-Burger!</title>
</head>

<body>
	{{{ body }}}
</body>
</html>